body {
  font-family: 'Roboto', sans-serif;
  width: 860px;
  margin: 0 auto;

}

.container {
  /* background-color: linear-gradient(rgba(255, 165, 0), rgba(255, 69, 0)); */
  background-color: rgba(255, 215, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}

.menu, .chart, .lines, .player{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.menu{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chart{
  height: 350px;
}

.lines{
  display: grid;
  grid-template: repeat(10, 25px) / 9fr repeat(8, 1fr);
}


svg {
  padding: 10px;
}

.gralBtns, input[type="button"] {
  height: 25px;
}

input[type="button"] {
  float: right;
}

.line {
  fill: none;
  stroke-linecap: round;
}

.tonicLine {
  fill: none;
  stroke: salmon;
  stroke-width: 1;
}

.pitchLine {
  fill: none;
  stroke: grey;
  stroke-dasharray: 3;
  stroke-width: 1;
  opacity: 0.5;
}

.measureLine {
  fill: none;
  stroke: lightgray;
  stroke-width: 2;
}

.xGridline {
  fill: none;
  stroke: lightgray;
  stroke-width: 1;
  opacity: 0.5;
}

.yAxis, .xAxis, .yAxisLabel, .xAxisLabel{
  font-size: 12px;
}

.hidden {
  display:none;
}

.lyrics {
  font-size: 12px;
}

label.ariaLabel, label.lineLabel {
  border-radius: 7px;
  padding: 2px;
  padding-left: 4px;
}

footer {
  margin-top: 15px;
  font-size: 10px;
}

footer p {
  margin: 0;
}
